*{
    font-family: 'Raleway', sans-serif;
    color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: , 'Raleway', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h2 {
    font-size: 34px; 
    font-weight: 500;
}

hr{
    border-top: 2px solid #666666;
    width: 63px;
}

#header {
    background-color: blue;
    height: 75px;
    border-bottom: 2px solid;
    border-bottom-color: white;
}

#main-info {
    background-color: red;
    height: 700px;
}

#triggers {
    background-color: #ECECEC;
}

.campotexto {
    max-width: 300px;
    text-align: center;
    font-size: 25px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;

}

#pasos {
    background-color: yellow;
    height: 426px;
}

#slide {
    background-color: pink;
    height: 426px;
}